.list {
    margin: 0 auto;
    width: fit-content;
}

.background {
    width: 100%;
    max-width: 100vw;
    height: fit-content;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    height: fit-content;
    min-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));
    margin-bottom: .5rem;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 1rem;
    padding: .5rem 0;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.titleSection {
    display: grid;
    width: fit-content;
    max-width: 100%;
    grid-template-columns: 1fr min-content;
}

.headerTitle {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: .5rem;
    display: flex;
    width: fit-content;
    max-width: 100%;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.headerTitle input {
    font-size: 1.1rem;
    border-radius: 3px;
    border: solid 1px #888;

}

.title {
    height: 1.8rem;
    max-width: 45vw;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    display: flex;
    align-items: center;
}
.titleButton {
    display: flex;
    align-items: center;
    margin-left: .5rem;
    color: #888888;
    font-size: 1rem;
    cursor: pointer;

}

/* Copy link button */
.copySection {
    display: flex;
    align-items: center;
    width: fit-content;
}

.copyLink {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    margin-right: .5rem;
    padding: 0.5rem;
    border: solid #000 1px;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    transition-duration: .3s;
    display: grid;
    grid-template-columns: min-content max-content;
    cursor: pointer;
}

.copyLink:hover {
    background-color: rgba(0, 0, 0, .03);
}

.copyLink:active {
    background-color: rgba(0, 0, 0, .1);
    transition-duration: 0s;
}

.copyLink i {
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyLink span {
    margin-left: .5rem;
}


/* input for new task */
.inputWrapper {
    background-color: white;
    padding: .5rem;
    height: fit-content;
    border-radius: .5rem;
    margin-bottom: .5rem;
    width: 80vw;
    max-width: 400px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr min-content;
}

.input {
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1rem;
    height: 1.2rem;
    border-radius: 3px;
    border: solid 1px #888;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}