.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    background: linear-gradient(220deg, rgba(244, 162, 97, 0.8), rgba(231, 111, 81, 0.8), rgba(42, 157, 143, 0.8), rgba(38, 70, 83, 0.8));
    background-size: 800% 800%;
    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}


@-webkit-keyframes AnimationName {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 79% 0%
    }
    50% {
        background-position: 22% 100%
    }
    100% {
        background-position: 79% 0%
    }
}


.form {
    padding: 1rem;
    background-color: #fdfffc;
    width: 80vw;
    max-width: 400px;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto;
    border-radius: 10px;
}
.logo {
    justify-self: center;
    width: 60%;
    max-width: 192px;
}
.btn {
    justify-self: center;
    display: grid;
    user-select: none;
    grid-template-columns: min-content 1fr;
    grid-gap: .5rem;
    padding: 0.5rem;
    border: solid  1px;
    background-color: transparent;
    border-radius: 5px;
    transition-duration: .3s;
    width: fit-content;
    cursor: pointer;
}
.btn i {
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: rgba(0, 0, 0, .03);
}

.btn:active {
    background-color: rgba(0, 0, 0, .1);
    transition-duration: 0s;
}
.link {
    justify-self: center;
}