.card {
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    width: 80vw;
    max-width: 400px;
    min-width: 200px;
    transition-duration: .5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
}

.grid {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 100%;
    grid-gap: 5px;
}

.btn {
    transition-duration: .4s;
    height: fit-content;
    font-size: 1.2rem;
    margin: 0 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}
.btn:active {
    transform: scale(.9);
    -webkit-transform:scale(0.9, 0.9);
    transition-duration: 0.2s;
}

#menuBtn {
    transition-duration: .3s;
}

#menuBtn:active {
    transition-duration: 0s;
    transform: rotate(180deg);
}

.done {
    background-color: white;
    opacity: .7;
}

.active {
    background-color: white;
    color: black;
}

.textDone {
    text-decoration: line-through;
    color: #2b2b2b;
}

.options {
    border-radius: .5rem;
    display: grid;
    grid-template-columns: max-content max-content;
    margin: .5rem auto 0;
    grid-gap: .5rem;
    width: fit-content;
}

.icon {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    transition-duration: .3s;

}

.icon:hover {
    background-color: rgba(0, 0, 0, .03);
}

.icon:active {
    background-color: rgba(0, 0, 0, .1);
    transition-duration: 0s;
}

.icon i {
    margin-right: 5px;
}

.input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .5rem;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}