.App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    padding:0;
    margin: 0;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: whitesmoke;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}



