.red {
    color: #e76f51;
}
.green {
    color: #40916c;
}
.blue {
    color: #0077b6;
}
.dark {
    color: #ff5d8f;
}
.default {
    color: #495057;
}
.redB {
    background-color: rgba(247, 127, 0, 0.6);
    border-color: #e76f51;
}
.greenB {
    background-color: rgba(116, 198, 157, 0.6);
    border-color: #40916c;
}
.blueB {
    background-color: rgba(144, 224, 239, 0.6);
    border-color: #0077b6;
}
.darkB {
    background-color: #ffc4d6;
    border-color: #ff5d8f;
}
.defaultB {
    background-color: rgba(173, 181, 189, 0.6);
    border-color: #495057;
}